* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body{
        margin: 0 2%;
    }

    h1 {
        text-transform: capitalize;
        text-align: center;
        padding: 3rem 0;
        font-size: 3rem;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        article {
            margin: 1rem .5rem;
            width: 23rem;
            border: 2px solid black;
            border-radius: 8px;
            padding: 1rem;
            background-color: #b89566;
        

            p {
                margin-bottom: 1.2rem;
                padding: 0.5rem;
                text-align: center;
                font-size: 1.3rem;
                color: #611111;
                text-shadow: 2px 3px 30px #007c7c;
                font-weight: 900;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }
}